# Modelica - an object-oriented language for modeling of cyber-physical systems
# https://modelica.org/
# Ignore temporary files, build results, simulation files

## Modelica-specific files
*~
*.bak
*.bak-mo
*.mof
\#*\#
*.moe
*.mol

## Build artefacts
*.exe
*.exp
*.o
*.pyc

## Simulation files
*.mat

## Package files
*.gz
*.rar
*.tar
*.zip

## Dymola-specific files
buildlog.txt
dsfinal.txt
dsin.txt
dslog.txt
dsmodel*
dsres.txt
dymosim*
request
stat
status
stop
success
*.
Merge_MonogameProject/obj/rider.project.model.nuget.info
Merge_MonogameProject/obj/Debug/net8.0
Merge_MonogameProject/obj/Debug/net8.0
Merge_MonogameProject/obj/project.nuget.cache
Merge_MonogameProject/obj/rider.project.model.nuget.info
Merge_MonogameProject/obj/Merge_MonogameProject.csproj.nuget.g.targets
Merge_MonogameProject/obj/Merge_MonogameProject.csproj.nuget.dgspec.json
Merge_MonogameProject/obj/Merge_MonogameProject.csproj.nuget.g.props
Merge_MonogameProject/obj/project.packagespec.json
Merge_MonogameProject/obj/rider.project.restore.info
Merge_MonogameProject/Merge_MonogameProject.csproj
Merge_MonogameProject/obj/project.assets.json
