Merge_MonogameProject/bin/Debug/net8.0/Merge_MonogameProject.dll
Merge_MonogameProject/bin/Debug/net8.0/Merge_MonogameProject.exe
Merge_MonogameProject/bin/Debug/net8.0/Merge_MonogameProject.pdb
Merge_MonogameProject/Content/obj/DesktopGL/net8.0/Content/.mgcontent
Merge_MonogameProject/Content/obj/DesktopGL/net8.0/Content/.mgstats
Merge_MonogameProject/Content/obj/DesktopGL/net8.0/Content/Evolution_0.mgcontent
Merge_MonogameProject/Content/obj/DesktopGL/net8.0/Content/Evolution_1.mgcontent
Merge_MonogameProject/Content/obj/DesktopGL/net8.0/Content/Evolution_2.mgcontent
Merge_MonogameProject/Content/obj/DesktopGL/net8.0/Content/Evolution_4.mgcontent
Merge_MonogameProject/obj/Debug/net8.0/ref/Merge_MonogameProject.dll
Merge_MonogameProject/obj/Debug/net8.0
Merge_MonogameProject/obj/Merge_MonogameProject.csproj.nuget.dgspec.json
Merge_MonogameProject/obj/project.assets.json
Merge_MonogameProject/obj/project.nuget.cache
.idea/.idea.Merge_MonogameProject/.idea/workspace.xml
